fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose[cryptography]
passlib[bcrypt]
jinja2
requests
twilio
pandas
opencv-python
easyocr
ultralytics
facenet-pytorch
torch
numpy
pygame
opencv-contrib-python
pytesseract
facenet_pytorch
MTCNN
playsound
Pillow
django
djangorestframework
django-tenants
chartjs
python-multipart
pytz